services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8000:8000"
    environment:
      PORT: "8000"
      MLFLOW_TRACKING_URI: http://mlflow:5000
    volumes:
      - ./models:/app/models
      - ./plots:/app/plots
    depends_on:
      - mlflow

  trainer:
    build:
      context: .
      dockerfile: Dockerfile.app
    working_dir: /app
    command: python src/train.py
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
    volumes:
      - ./models:/app/models
      - ./plots:/app/plots
      - ./evidently:/app/evidently
    depends_on:
      - mlflow

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    working_dir: /mlflow
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlflow/mlruns
      - ./mlflow.db:/mlflow/mlflow.db
    command: >
      sh -c "mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///mlflow.db
      --serve-artifacts
      --artifacts-destination /mlflow/mlruns
      --default-artifact-root mlflow-artifacts:/
      --allowed-hosts '*'
      --cors-allowed-origins '*'
      "