openapi: 3.1.0
info:
  title: DevOps Exam Mozhogin Sergey
  description: FastAPI сервис для экзаменационного задания по предмету Современные
    методы DevOps
  version: v1.0.0
paths:
  /health:
    get:
      summary: Health
      operationId: health_health_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /predict:
    post:
      summary: Predict
      operationId: predict_predict_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PredictRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: "#/components/schemas/ValidationError"
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PredictRequest:
      properties:
        sepal_length:
          type: number
          title: Sepal Length
        sepal_width:
          type: number
          title: Sepal Width
        petal_length:
          type: number
          title: Petal Length
        petal_width:
          type: number
          title: Petal Width
      type: object
      required:
        - sepal_length
        - sepal_width
        - petal_length
        - petal_width
      title: PredictRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError